{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}


<html lang="en">
<head>
     <meta charset="UTF-8">
     
     {% load static %}
 </head>
 <body style="background-color:white;">
 <link href="{% static 'css/style.css'%}" rel="stylesheet">

 <script src="{% static 'js/scripts.js' %}" ,type="text/javascripts"></script>

<center>
 <div id="imge1">
 <img src="\static\about.jpg"  alt="..." height="400px"  width="1000px"  border:"5px solid #555" />
 </div>

 

<br><br>


    <h2 style="color:black">ABOUT US</h2>
     
     <p style="color:black">Biryani came to India from the Iranian lands, and stayed here to become a part of our cuisine since then. In 15 th Century AD India, Biryani was a quick wholesome meal easy for troops on the move. In 21 st Century AD, it is a symbol of salvation for food connoisseurs so much so that one can never hold their urge to dig in to a warm steaming Handi of Biryani.</p>
     <p>We at The Biryani Zone believe that “Biryani” will be the biggest Food Services & Delivery category from India. Biryani is a complete meal, filled with aromas & flavours, recipes can be both authentic & versatile, and it caters itself to delivery very well. The Biryani Zone uses the best ingredients including one of the most expensive branded rice specially aged around 2 years, spices 
      handpicked from Kerala, and most stringently selected meats & vegetables for its Biryanis & Kebabs. Apart from this, The Biryani Zone uses world class technologies, processes & systems to give the best quality, standardization, hygiene & convenience to customers and the ability to order online or through call centre. Biryani Zone is committed to making Biryani Zone pan India premium Biryani Chain 
      and making Biryani category popular worldwide.</p>
     
</center>

        

{% endblock body %}

