{% extends 'base.html' %}

{% block title %} {% endblock title %}


{% block body %}


<div class="container my-4 px-3">

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\static\4.jpg" class="d-block w-100", alt="..."  height="400px"  width="400px"/>
       <div class="carousel-caption d-none d-md-block">
        <h5>Welcome in my Biryani Zone</h5>
        <p>Filled with Spices & Love</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="\static\6.jpg", class="d-block w-100" alt="..."  height="400px"  width="400px"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>We serves the love with our biryani</h5>
        <p>We deliver the world's best biryani,it's a promisee</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="\static\5.jpg" class="d-block w-100" alt="..."  height="400px"  width="400px"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>There's always a reason to celebrate….</h5>
        <p>Good food is all that sweet when shared with friends and family.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>

<div class="container my-3">
<h1 class="my-4 text-center">The Royal Menu</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="\static\veg.jpg" class="d-block w-100" alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Veg Hyderabadi Dum Biryani. [1kg]</p>
              <div class="d-flex justify-content-between align-items-cente">
                <div class="btn-group">
                 
                  <p class="card-text">₹563</p>
                </div>
               <button type="button" class="btn btn-sm btn-outline-secondary" >Add</button>
              </div>
            </div>
          </div>
        </div>
          
<div class="col">
          <div class="card shadow-sm">
           <img src="\static\egg.jpg" class="d-block w-100"  alt="..." height="200px" width="200px"/>

            <div class="card-body">
              <p class="card-text">Egg Dum Biryani [1/2 Kg]</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹293</p>
                  
                </div>
               <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>

          
<div class="col">
          <div class="card shadow-sm">
           <img src="\static\bombay.jpg"  class="d-block w-100" alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Chicken Bombay Biryani [1/2 kg]</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹414</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>

          
<div class="col">
          <div class="card shadow-sm">
           <img src="\static\dum.jpg"  class="d-block w-100"  alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Chicken Hyderabadi Dum Biryani. [1kg]</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹684</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>

          
<div class="col">
          <div class="card shadow-sm">
           <img src="\static\fish.jpg"  class="d-block w-100"  alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Fish Biryani [1/2 kg]</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹563</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>

          
<div class="col">
          <div class="card shadow-sm">
           <img src="\static\kashmiri.jpg" class="d-block w-100"  alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Kashmiri Biryani. [1kg]</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹531</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>


          
<div class="col">
          <div class="card shadow-sm">
           <img src="\static\tandur.jpg" class="d-block w-100"  alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Chicken Tandur Biryani. [1kg]</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹684</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="\static\mutton.jpg" class="d-block w-100" alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Mutton Dum Biryani. [1/2kg]</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹699</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\kabab.jpg"  class="d-block w-100"  alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Chicken Seekh Kebab.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹347</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\gulab.jpg"  class="d-block w-100" alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Gulab Jamun.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹100</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\kulfi.jpg"  class="d-block w-100" alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Rabadi Kulfi</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹70</p>
                  
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\fruitsalad.jpg"  class="d-block w-100" alt="..."  height="200px"  width="200px"/>

            <div class="card-body">
              <p class="card-text">Shahi Fruit Salad.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class="card-text">₹110</p>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary" >Add</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

{% endblock body %}

